# Ignore the build dir
build

# Ignore the data dir
data/*

# Ignore Dan's swp files
*.swp
*.swo

# Ignore Debug
Debug/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store
Debug

#Makefile
setup.sh
TMVAClassification.C
tmvaglob.C
TMVAGui.C
TMVAlogon.C
TMVARegGui.C
weights/*
weights
libTMVA.rootmap
Makefile.arch
MakefileOriginial
effciencies.C
bg_zll/*
bg_zll
TMVApp.root

