# Ignore the build dir
build

# Ignore the data dir
data/*

# Ignore Dan's swp files
*.swp
*.swo

# Ignore Debug
Debug/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store
Debug
BDT_varying_SeparationType/*
BDT_varying_SeparationType

TMVAClassification.C

weights/*
weights

Makefile.arch
MakefileOriginial
effciencies.C
bg_zll/*
bg_zll



